.ListItemLine {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  min-height: 35px;
}

.buttonContainer {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.addButton {
  margin-left: auto;
  margin-bottom: 0;
  width: auto;
  padding: 2px 7px;
  background-color: transparent;
}

.checkbox {
  flex-shrink: 0;
  flex-grow: 0;
}

.input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  margin-bottom: 0;
}

.completed {
  text-decoration: line-through;
  color: #777;
}
